{% extends 'layout.html' %}
{% load static %}


{% block body %}

	<body>

	<!-- Header section -->
	<header class="header-section">

 <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="{% static 'images/flower.jpg' %}" class="img-fluid">
      </div>
      <div class="col-md-6">
        <p class="text-justify lh-lg">Flowers play a crucial role in our ecosystem, providing numerous benefits to both the environment and to us. They attract pollinators, such as bees and butterflies, which are essential for the reproduction of many plant species, including numerous agricultural crops. Additionally, through the process of photosynthesis, flowers contribute to the production of oxygen, vital for the air we breathe. Their roots help to bind soil together, preventing erosion and providing stability to the surrounding ecosystem. Flowers also serve as habitats for a wide range of wildlife, contributing to biodiversity. Moreover, their beauty and fragrance have been shown to positively impact human well-being, making them an integral part of our natural world.</p>
      </div>
    </div>
  </div>


	</header>
	<!-- Header section end -->

	<!-- Page top section -->

	<!-- Page top section end -->

	<!-- Character section 1 -->
    <br>
	<section class="characters-section character-one">
		 <div class="container">
    <div class="row">
      <div class="col-lg-7 offset-lg-5">
        <img src="{% static 'images/rose.jpg' %}" class="img-fluid">
      </div>
      <div class="col-md-6">
        <p class="text-justify lh-lg">The rose, known as the "queen of flowers," possesses an undeniable allure that transcends time and culture. Its diverse colors, from vibrant red to soft pink and sunny yellow, offer versatility in expression, while its intoxicating fragrance evokes nostalgia, comfort, and tranquility. Symbolizing love and beauty, the rose is intertwined with human history and revered in art, literature, and mythology. Its elegant form and delicate petals exude a timeless grace and sophistication that captivates the senses. Beyond its aesthetic appeal, the rose offers healing properties, valued in skincare and aromatherapy for their calming and rejuvenating effects. In every aspect, the rose stands as a timeless symbol of love and beauty, evoking deep emotions and leaving a lasting impression on those who encounter its enchanting presence.</p>
      </div>
    </div>
  </div>
	</section>

    <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="{% static 'images/orchids.jpg' %}" class="img-fluid">
      </div>
      <div class="col-md-6">
        <p class="text-justify lh-lg">
            Orchids are a diverse and exquisite family of flowering plants, known for their stunning and often intricate blooms. With over 25,000 species, orchids display a remarkable range of sizes, shapes, and colors, with some varieties featuring vibrant hues and others boasting delicate pastel tones. These unique flowers are found in almost every habitat around the world, except for glaciers, and are not only prized for their striking visual appeal but also for their significance in various cultures and their use in traditional medicine. Orchids have also gained attention for their symbolism, representing love, luxury, beauty, and strength, making them highly sought-after as ornamental plants and floral gifts.</p>
      </div>
    </div>
  </div>
	<!-- Character section 1 end -->

	<!-- Character section 2 -->
		<!-- Character section 2 end -->

	<!-- Character section 3 -->
	<!-- Character section 3 end -->

	<!-- Character section 4 -->
	<!-- Character section 4 end -->


			<div class="copyright"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by Ken </a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
		</div>


	<!-- Footer section end -->

	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/circle-progress.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/main.js"></script>

	</body>
{% endblock %}

